<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.work/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.work.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Course.browse" caption="msg://com.company.work.screen.course/courseBrowse.menu"/>
        <item screen="StudentRating.browse"
              caption="msg://com.company.work.screen.studentrating/studentRatingBrowse.menu"/>
        <item screen="Student.browse" caption="msg://com.company.work.screen.student/studentBrowse.menu"/>
        <item screen="ExamSubjects.browse"
              caption="msg://com.company.work.screen.examsubjects/examSubjectsBrowse.menu"/>
    </menu>

</menu-config>